.hero {
    background: rgb(85, 152, 167);
    background: linear-gradient(180deg, rgba(0, 157, 191, 1) 11%, rgba(1, 209, 219, 1) 29%, rgba(104, 17, 252, 1) 80%, rgba(113, 0, 255, 1) 100%);
}

.fonts {
    font-family: 'Bungee Shade', cursive;
    color: rgb(37, 35, 35);
    display: flex;
    justify-content: center;
    font-size: 55px;

}

p {
    font-weight: bold;
}

.move {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie {
    display: column;
    justify-content: center;
}




.random {
    height: 70px;
}

.two {
    font-size: 25px;
}

.picks {
    height: 300px;

}

.choices {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 450px;
    background: rgb(85, 152, 167);
    background: linear-gradient(180deg, rgba(0, 157, 191, 1) 11%, rgba(1, 209, 219, 1) 29%, rgba(104, 17, 252, 1) 80%, rgba(113, 0, 255, 1) 100%);
}

.page1 {
    background-color: rgb(65, 61, 61);
    width: 450px;
    height: 400px;
    justify-content: center;
}

#back {
    height: 400px;
    justify-content: center;
}

#fetch-data {
    width: 300px;
    height: 85px;
}

.select {
    margin-top: 10px;
    margin-left: 10px;
}

.background {
    background-color: rgb(65, 61, 61);
    color: rgb(247, 242, 237);
    justify-content: center;
}

#fetch-data:hover {
    background-color: rgb(37, 34, 34);
    color: rgb(247, 242, 237);
}

.fonts2 {
    font-family: 'Lumanosimo', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.stream-box {
    height: 100px;
}