body{
    background-color: rgb(73, 73, 73);
}
.hero {
    background: rgb(0,157,191);
    background: linear-gradient(156deg, rgba(0,157,191,1) 0%, rgba(1,209,219,1) 50%, rgba(113,0,255,1) 100%);
}
.fonts{
    font-family: 'Bungee Shade', cursive;
    color:white;
    display: flex;
    justify-content: center;
    font-size: 55px;
}
.area{
    display: flex;
    justify-content: center;
}
