body {
    background-color: rgb(101, 45, 233);
}

.hero {
    background: rgb(0, 157, 191);
    background: linear-gradient(180deg, rgba(0, 157, 191, 1) 11%, rgba(1, 209, 219, 1) 29%, rgba(104, 17, 252, 1) 80%, rgba(113, 0, 255, 1) 100%);
}
.fonts{
    font-family: 'Bungee Shade', cursive;
    color: rgb(247, 242, 237);
    display: flex;
    justify-content: center;
    font-size: 55px;
}
.area{
    display: flex;
    justify-content: center;
}
